--
-- PostgreSQL database dump
--

\restrict 1gJo2E8IAdXpBBm8YdqokvgppGfq7MOOaQhIs4j81YnMNK7IB4dRO6UbmUG6nWq

-- Dumped from database version 17.11
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.trades DROP CONSTRAINT IF EXISTS trades_seller_id_fkey;
ALTER TABLE IF EXISTS ONLY public.trades DROP CONSTRAINT IF EXISTS trades_listing_id_fkey;
ALTER TABLE IF EXISTS ONLY public.trades DROP CONSTRAINT IF EXISTS trades_buyer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.trades DROP CONSTRAINT IF EXISTS trades_batch_id_fkey;
ALTER TABLE IF EXISTS ONLY public.retirements DROP CONSTRAINT IF EXISTS retirements_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.retirements DROP CONSTRAINT IF EXISTS retirements_batch_id_fkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_reviewed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_owner_id_fkey;
ALTER TABLE IF EXISTS ONLY public.project_documents DROP CONSTRAINT IF EXISTS project_documents_uploaded_by_fkey;
ALTER TABLE IF EXISTS ONLY public.project_documents DROP CONSTRAINT IF EXISTS project_documents_project_id_fkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.operation_requests DROP CONSTRAINT IF EXISTS operation_requests_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.listings DROP CONSTRAINT IF EXISTS listings_seller_id_fkey;
ALTER TABLE IF EXISTS ONLY public.listings DROP CONSTRAINT IF EXISTS listings_batch_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ledger_entries DROP CONSTRAINT IF EXISTS ledger_entries_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ledger_entries DROP CONSTRAINT IF EXISTS ledger_entries_batch_id_fkey;
ALTER TABLE IF EXISTS ONLY public.holdings DROP CONSTRAINT IF EXISTS holdings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.holdings DROP CONSTRAINT IF EXISTS holdings_batch_id_fkey;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS credit_batches_project_id_fkey;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS credit_batches_issued_by_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_events DROP CONSTRAINT IF EXISTS audit_events_actor_id_fkey;
DROP INDEX IF EXISTS public.ix_users_wallet_address;
DROP INDEX IF EXISTS public.ix_users_role;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_trades_seller_id;
DROP INDEX IF EXISTS public.ix_trades_listing_id;
DROP INDEX IF EXISTS public.ix_trades_buyer_id;
DROP INDEX IF EXISTS public.ix_retirements_user_id;
DROP INDEX IF EXISTS public.ix_retirements_certificate_no;
DROP INDEX IF EXISTS public.ix_retirements_batch_id;
DROP INDEX IF EXISTS public.ix_projects_status;
DROP INDEX IF EXISTS public.ix_projects_owner_id;
DROP INDEX IF EXISTS public.ix_project_documents_uploaded_by;
DROP INDEX IF EXISTS public.ix_project_documents_project_id;
DROP INDEX IF EXISTS public.ix_project_document_project_category;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_user_id;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_token_hash;
DROP INDEX IF EXISTS public.ix_password_reset_tokens_expires_at;
DROP INDEX IF EXISTS public.ix_operation_requests_user_id;
DROP INDEX IF EXISTS public.ix_listings_status;
DROP INDEX IF EXISTS public.ix_listings_seller_id;
DROP INDEX IF EXISTS public.ix_listings_batch_id;
DROP INDEX IF EXISTS public.ix_ledger_user_created;
DROP INDEX IF EXISTS public.ix_ledger_entries_user_id;
DROP INDEX IF EXISTS public.ix_ledger_entries_reference_id;
DROP INDEX IF EXISTS public.ix_ledger_entries_created_at;
DROP INDEX IF EXISTS public.ix_ledger_entries_batch_id;
DROP INDEX IF EXISTS public.ix_holdings_user_id;
DROP INDEX IF EXISTS public.ix_holdings_batch_id;
DROP INDEX IF EXISTS public.ix_credit_batches_project_id;
DROP INDEX IF EXISTS public.ix_chain_operations_status;
DROP INDEX IF EXISTS public.ix_chain_operations_resource_id;
DROP INDEX IF EXISTS public.ix_chain_operations_next_attempt_at;
DROP INDEX IF EXISTS public.ix_chain_operation_status_created;
DROP INDEX IF EXISTS public.ix_audit_events_resource_id;
DROP INDEX IF EXISTS public.ix_audit_events_actor_id;
DROP INDEX IF EXISTS public.ix_audit_events_action;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.holdings DROP CONSTRAINT IF EXISTS uq_user_batch;
ALTER TABLE IF EXISTS ONLY public.retirements DROP CONSTRAINT IF EXISTS uq_retirements_transaction_hash;
ALTER TABLE IF EXISTS ONLY public.retirements DROP CONSTRAINT IF EXISTS uq_retirements_chain_id;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS uq_projects_chain_token_id;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS uq_project_vintage;
ALTER TABLE IF EXISTS ONLY public.operation_requests DROP CONSTRAINT IF EXISTS uq_operation_request;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS uq_credit_batches_chain_batch_id;
ALTER TABLE IF EXISTS ONLY public.chain_operations DROP CONSTRAINT IF EXISTS uq_chain_operation_resource;
ALTER TABLE IF EXISTS ONLY public.trades DROP CONSTRAINT IF EXISTS trades_pkey;
ALTER TABLE IF EXISTS ONLY public.retirements DROP CONSTRAINT IF EXISTS retirements_pkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_pkey;
ALTER TABLE IF EXISTS ONLY public.project_documents DROP CONSTRAINT IF EXISTS project_documents_storage_name_key;
ALTER TABLE IF EXISTS ONLY public.project_documents DROP CONSTRAINT IF EXISTS project_documents_pkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.operation_requests DROP CONSTRAINT IF EXISTS operation_requests_pkey;
ALTER TABLE IF EXISTS ONLY public.listings DROP CONSTRAINT IF EXISTS listings_pkey;
ALTER TABLE IF EXISTS ONLY public.ledger_entries DROP CONSTRAINT IF EXISTS ledger_entries_pkey;
ALTER TABLE IF EXISTS ONLY public.holdings DROP CONSTRAINT IF EXISTS holdings_pkey;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS credit_batches_serial_prefix_key;
ALTER TABLE IF EXISTS ONLY public.credit_batches DROP CONSTRAINT IF EXISTS credit_batches_pkey;
ALTER TABLE IF EXISTS ONLY public.chain_operations DROP CONSTRAINT IF EXISTS chain_operations_transaction_hash_key;
ALTER TABLE IF EXISTS ONLY public.chain_operations DROP CONSTRAINT IF EXISTS chain_operations_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_events DROP CONSTRAINT IF EXISTS audit_events_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.trades;
DROP TABLE IF EXISTS public.retirements;
DROP TABLE IF EXISTS public.projects;
DROP TABLE IF EXISTS public.project_documents;
DROP TABLE IF EXISTS public.password_reset_tokens;
DROP TABLE IF EXISTS public.operation_requests;
DROP TABLE IF EXISTS public.listings;
DROP TABLE IF EXISTS public.ledger_entries;
DROP TABLE IF EXISTS public.holdings;
DROP TABLE IF EXISTS public.credit_batches;
DROP TABLE IF EXISTS public.chain_operations;
DROP TABLE IF EXISTS public.audit_events;
DROP TABLE IF EXISTS public.alembic_version;
DROP TYPE IF EXISTS public.role;
DROP TYPE IF EXISTS public.projectstatus;
DROP TYPE IF EXISTS public.listingstatus;
DROP TYPE IF EXISTS public.ledgerkind;
--
-- Name: ledgerkind; Type: TYPE; Schema: public; Owner: carbon
--

CREATE TYPE public.ledgerkind AS ENUM (
    'ISSUE',
    'TRADE_IN',
    'TRADE_OUT',
    'RETIRE'
);


ALTER TYPE public.ledgerkind OWNER TO carbon;

--
-- Name: listingstatus; Type: TYPE; Schema: public; Owner: carbon
--

CREATE TYPE public.listingstatus AS ENUM (
    'OPEN',
    'FILLED',
    'CANCELLED'
);


ALTER TYPE public.listingstatus OWNER TO carbon;

--
-- Name: projectstatus; Type: TYPE; Schema: public; Owner: carbon
--

CREATE TYPE public.projectstatus AS ENUM (
    'DRAFT',
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.projectstatus OWNER TO carbon;

--
-- Name: role; Type: TYPE; Schema: public; Owner: carbon
--

CREATE TYPE public.role AS ENUM (
    'ADMIN',
    'VERIFIER',
    'MEMBER'
);


ALTER TYPE public.role OWNER TO carbon;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO carbon;

--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.audit_events (
    id character varying(36) NOT NULL,
    actor_id character varying(36),
    action character varying(80) NOT NULL,
    resource_type character varying(40) NOT NULL,
    resource_id character varying(36) NOT NULL,
    detail text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.audit_events OWNER TO carbon;

--
-- Name: chain_operations; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.chain_operations (
    id character varying(36) NOT NULL,
    operation_type character varying(40) NOT NULL,
    resource_type character varying(40) NOT NULL,
    resource_id character varying(36) NOT NULL,
    chain_id integer NOT NULL,
    contract_address character varying(64) NOT NULL,
    payload json NOT NULL,
    status character varying(20) NOT NULL,
    attempts integer NOT NULL,
    transaction_hash character varying(80),
    block_number integer,
    error_message text,
    created_at timestamp with time zone NOT NULL,
    submitted_at timestamp with time zone,
    confirmed_at timestamp with time zone,
    raw_transaction text,
    nonce integer,
    next_attempt_at timestamp with time zone
);


ALTER TABLE public.chain_operations OWNER TO carbon;

--
-- Name: credit_batches; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.credit_batches (
    id character varying(36) NOT NULL,
    project_id character varying(36) NOT NULL,
    vintage integer NOT NULL,
    methodology character varying(120) NOT NULL,
    serial_prefix character varying(80) NOT NULL,
    total_issued numeric(20,4) NOT NULL,
    total_retired numeric(20,4) NOT NULL,
    issued_by character varying(36) NOT NULL,
    issued_at timestamp with time zone NOT NULL,
    chain_batch_id integer,
    CONSTRAINT ck_batch_issued_positive CHECK ((total_issued > (0)::numeric)),
    CONSTRAINT ck_batch_retired_valid CHECK (((total_retired >= (0)::numeric) AND (total_retired <= total_issued)))
);


ALTER TABLE public.credit_batches OWNER TO carbon;

--
-- Name: holdings; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.holdings (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    batch_id character varying(36) NOT NULL,
    quantity numeric(20,4) NOT NULL,
    locked_quantity numeric(20,4) NOT NULL,
    version integer NOT NULL,
    CONSTRAINT ck_holding_locked_valid CHECK (((locked_quantity >= (0)::numeric) AND (locked_quantity <= quantity))),
    CONSTRAINT ck_holding_quantity_nonnegative CHECK ((quantity >= (0)::numeric))
);


ALTER TABLE public.holdings OWNER TO carbon;

--
-- Name: ledger_entries; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.ledger_entries (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    batch_id character varying(36) NOT NULL,
    kind public.ledgerkind NOT NULL,
    quantity_delta numeric(20,4) NOT NULL,
    balance_after numeric(20,4) NOT NULL,
    reference_type character varying(30) NOT NULL,
    reference_id character varying(36) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.ledger_entries OWNER TO carbon;

--
-- Name: listings; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.listings (
    id character varying(36) NOT NULL,
    seller_id character varying(36) NOT NULL,
    batch_id character varying(36) NOT NULL,
    quantity numeric(20,4) NOT NULL,
    remaining_quantity numeric(20,4) NOT NULL,
    unit_price numeric(20,2) NOT NULL,
    currency character varying(3) NOT NULL,
    status public.listingstatus NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.listings OWNER TO carbon;

--
-- Name: operation_requests; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.operation_requests (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    endpoint character varying(100) NOT NULL,
    key character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.operation_requests OWNER TO carbon;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.password_reset_tokens (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    token_hash character varying(64) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO carbon;

--
-- Name: project_documents; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.project_documents (
    id character varying(36) NOT NULL,
    project_id character varying(36) NOT NULL,
    uploaded_by character varying(36) NOT NULL,
    category character varying(50) NOT NULL,
    original_name character varying(255) NOT NULL,
    storage_name character varying(255) NOT NULL,
    content_type character varying(120) NOT NULL,
    size_bytes integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.project_documents OWNER TO carbon;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.projects (
    id character varying(36) NOT NULL,
    owner_id character varying(36) NOT NULL,
    name character varying(200) NOT NULL,
    project_type character varying(80) NOT NULL,
    region character varying(120) NOT NULL,
    methodology character varying(120) NOT NULL,
    description text NOT NULL,
    estimated_tonnes numeric(20,4) NOT NULL,
    status public.projectstatus NOT NULL,
    review_note text,
    reviewed_by character varying(36),
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    chain_token_id integer
);


ALTER TABLE public.projects OWNER TO carbon;

--
-- Name: retirements; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.retirements (
    id character varying(36) NOT NULL,
    certificate_no character varying(80) NOT NULL,
    user_id character varying(36) NOT NULL,
    batch_id character varying(36) NOT NULL,
    quantity numeric(20,4) NOT NULL,
    beneficiary character varying(200) NOT NULL,
    reason text NOT NULL,
    retired_at timestamp with time zone NOT NULL,
    transaction_hash character varying(80),
    chain_retirement_id integer
);


ALTER TABLE public.retirements OWNER TO carbon;

--
-- Name: trades; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.trades (
    id character varying(36) NOT NULL,
    listing_id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    seller_id character varying(36) NOT NULL,
    batch_id character varying(36) NOT NULL,
    quantity numeric(20,4) NOT NULL,
    unit_price numeric(20,2) NOT NULL,
    total_amount numeric(20,2) NOT NULL,
    currency character varying(3) NOT NULL,
    traded_at timestamp with time zone NOT NULL
);


ALTER TABLE public.trades OWNER TO carbon;

--
-- Name: users; Type: TABLE; Schema: public; Owner: carbon
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    email character varying(320) NOT NULL,
    password_hash character varying(255) NOT NULL,
    display_name character varying(120) NOT NULL,
    role public.role NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    wallet_address character varying(42),
    wallet_nonce character varying(64),
    wallet_nonce_expires_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO carbon;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.alembic_version (version_num) FROM stdin;
0005
\.


--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: chain_operations; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: credit_batches; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: holdings; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.holdings (id, user_id, batch_id, quantity, locked_quantity, version) FROM stdin;
79cf2c0f-9794-4cfe-8fbf-b6c21bc0c0d4	0e0f9513-8b90-477e-ba2d-5c4339da013e	a716ad52-8607-4c34-af80-ec34b996bf03	2500.0000	1900.0000	1
cb86a66c-ab5d-4343-bc0c-0fdda9dd0a9e	a74207e5-9d93-4ca3-ad5d-f70f01b1f551	a716ad52-8607-4c34-af80-ec34b996bf03	0.0000	0.0000	1
\.


--
-- Data for Name: ledger_entries; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: listings; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.listings (id, seller_id, batch_id, quantity, remaining_quantity, unit_price, currency, status, created_at, updated_at) FROM stdin;
a886c39d-afd1-41f9-83b9-20f031f96e79	0e0f9513-8b90-477e-ba2d-5c4339da013e	a716ad52-8607-4c34-af80-ec34b996bf03	2000.0000	1900.0000	100.00	CNY	OPEN	2026-09-28 06:05:03.9304+00	2026-09-28 06:14:27.984594+00
\.


--
-- Data for Name: operation_requests; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.password_reset_tokens (id, user_id, token_hash, expires_at, used_at, created_at) FROM stdin;
498b6f7a-5e24-4ab6-9218-63a6590bfcef	0e0f9513-8b90-477e-ba2d-5c4339da013e	bc6835b148aa51837e7025477dee82d0ebe77af34f1e24eb7a0746a24041ea5f	2026-09-28 06:34:21.912879+00	2026-09-28 06:04:35.273725+00	2026-09-28 06:04:21.91406+00
\.


--
-- Data for Name: project_documents; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.project_documents (id, project_id, uploaded_by, category, original_name, storage_name, content_type, size_bytes, created_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Data for Name: retirements; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.retirements (id, certificate_no, user_id, batch_id, quantity, beneficiary, reason, retired_at, transaction_hash, chain_retirement_id) FROM stdin;
e1f1c553-2453-450a-aefc-4a34e0049988	CLR-20260928-7CE60AE9DC24	a74207e5-9d93-4ca3-ad5d-f70f01b1f551	a716ad52-8607-4c34-af80-ec34b996bf03	100.0000	鏂拌瘹閽㈤搧鍘?2026骞磋繍钀ユ帓鏀炬姷娑?2026-09-28 06:15:58.371059+00	\N	\N
\.


--
-- Data for Name: trades; Type: TABLE DATA; Schema: public; Owner: carbon
--

COPY public.trades (id, listing_id, buyer_id, seller_id, batch_id, quantity, unit_price, total_amount, currency, traded_at) FROM stdin;
68912560-c49d-4bae-ad34-6c7f3b15ccf7	a886c39d-afd1-41f9-83b9-20f031f96e79	a74207e5-9d93-4ca3-ad5d-f70f01b1f551	0e0f9513-8b90-477e-ba2d-5c4339da013e	a716ad52-8607-4c34-af80-ec34b996bf03	100.0000	100.00	10000.00	CNY	2026-09-28 06:14:27.985634+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: carbon
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: chain_operations chain_operations_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.chain_operations
    ADD CONSTRAINT chain_operations_pkey PRIMARY KEY (id);


--
-- Name: chain_operations chain_operations_transaction_hash_key; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.chain_operations
    ADD CONSTRAINT chain_operations_transaction_hash_key UNIQUE (transaction_hash);


--
-- Name: credit_batches credit_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT credit_batches_pkey PRIMARY KEY (id);


--
-- Name: credit_batches credit_batches_serial_prefix_key; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT credit_batches_serial_prefix_key UNIQUE (serial_prefix);


--
-- Name: holdings holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_pkey PRIMARY KEY (id);


--
-- Name: ledger_entries ledger_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_pkey PRIMARY KEY (id);


--
-- Name: listings listings_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_pkey PRIMARY KEY (id);


--
-- Name: operation_requests operation_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.operation_requests
    ADD CONSTRAINT operation_requests_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: project_documents project_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT project_documents_pkey PRIMARY KEY (id);


--
-- Name: project_documents project_documents_storage_name_key; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT project_documents_storage_name_key UNIQUE (storage_name);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: retirements retirements_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.retirements
    ADD CONSTRAINT retirements_pkey PRIMARY KEY (id);


--
-- Name: trades trades_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_pkey PRIMARY KEY (id);


--
-- Name: chain_operations uq_chain_operation_resource; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.chain_operations
    ADD CONSTRAINT uq_chain_operation_resource UNIQUE (operation_type, resource_id);


--
-- Name: credit_batches uq_credit_batches_chain_batch_id; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT uq_credit_batches_chain_batch_id UNIQUE (chain_batch_id);


--
-- Name: operation_requests uq_operation_request; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.operation_requests
    ADD CONSTRAINT uq_operation_request UNIQUE (user_id, endpoint, key);


--
-- Name: credit_batches uq_project_vintage; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT uq_project_vintage UNIQUE (project_id, vintage);


--
-- Name: projects uq_projects_chain_token_id; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT uq_projects_chain_token_id UNIQUE (chain_token_id);


--
-- Name: retirements uq_retirements_chain_id; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.retirements
    ADD CONSTRAINT uq_retirements_chain_id UNIQUE (chain_retirement_id);


--
-- Name: retirements uq_retirements_transaction_hash; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.retirements
    ADD CONSTRAINT uq_retirements_transaction_hash UNIQUE (transaction_hash);


--
-- Name: holdings uq_user_batch; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT uq_user_batch UNIQUE (user_id, batch_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_events_action; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_audit_events_action ON public.audit_events USING btree (action);


--
-- Name: ix_audit_events_actor_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_audit_events_actor_id ON public.audit_events USING btree (actor_id);


--
-- Name: ix_audit_events_resource_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_audit_events_resource_id ON public.audit_events USING btree (resource_id);


--
-- Name: ix_chain_operation_status_created; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_chain_operation_status_created ON public.chain_operations USING btree (status, created_at);


--
-- Name: ix_chain_operations_next_attempt_at; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_chain_operations_next_attempt_at ON public.chain_operations USING btree (next_attempt_at);


--
-- Name: ix_chain_operations_resource_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_chain_operations_resource_id ON public.chain_operations USING btree (resource_id);


--
-- Name: ix_chain_operations_status; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_chain_operations_status ON public.chain_operations USING btree (status);


--
-- Name: ix_credit_batches_project_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_credit_batches_project_id ON public.credit_batches USING btree (project_id);


--
-- Name: ix_holdings_batch_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_holdings_batch_id ON public.holdings USING btree (batch_id);


--
-- Name: ix_holdings_user_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_holdings_user_id ON public.holdings USING btree (user_id);


--
-- Name: ix_ledger_entries_batch_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_ledger_entries_batch_id ON public.ledger_entries USING btree (batch_id);


--
-- Name: ix_ledger_entries_created_at; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_ledger_entries_created_at ON public.ledger_entries USING btree (created_at);


--
-- Name: ix_ledger_entries_reference_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_ledger_entries_reference_id ON public.ledger_entries USING btree (reference_id);


--
-- Name: ix_ledger_entries_user_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_ledger_entries_user_id ON public.ledger_entries USING btree (user_id);


--
-- Name: ix_ledger_user_created; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_ledger_user_created ON public.ledger_entries USING btree (user_id, created_at);


--
-- Name: ix_listings_batch_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_listings_batch_id ON public.listings USING btree (batch_id);


--
-- Name: ix_listings_seller_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_listings_seller_id ON public.listings USING btree (seller_id);


--
-- Name: ix_listings_status; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_listings_status ON public.listings USING btree (status);


--
-- Name: ix_operation_requests_user_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_operation_requests_user_id ON public.operation_requests USING btree (user_id);


--
-- Name: ix_password_reset_tokens_expires_at; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_password_reset_tokens_expires_at ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: ix_password_reset_tokens_token_hash; Type: INDEX; Schema: public; Owner: carbon
--

CREATE UNIQUE INDEX ix_password_reset_tokens_token_hash ON public.password_reset_tokens USING btree (token_hash);


--
-- Name: ix_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: ix_project_document_project_category; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_project_document_project_category ON public.project_documents USING btree (project_id, category);


--
-- Name: ix_project_documents_project_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_project_documents_project_id ON public.project_documents USING btree (project_id);


--
-- Name: ix_project_documents_uploaded_by; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_project_documents_uploaded_by ON public.project_documents USING btree (uploaded_by);


--
-- Name: ix_projects_owner_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_projects_owner_id ON public.projects USING btree (owner_id);


--
-- Name: ix_projects_status; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_projects_status ON public.projects USING btree (status);


--
-- Name: ix_retirements_batch_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_retirements_batch_id ON public.retirements USING btree (batch_id);


--
-- Name: ix_retirements_certificate_no; Type: INDEX; Schema: public; Owner: carbon
--

CREATE UNIQUE INDEX ix_retirements_certificate_no ON public.retirements USING btree (certificate_no);


--
-- Name: ix_retirements_user_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_retirements_user_id ON public.retirements USING btree (user_id);


--
-- Name: ix_trades_buyer_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_trades_buyer_id ON public.trades USING btree (buyer_id);


--
-- Name: ix_trades_listing_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_trades_listing_id ON public.trades USING btree (listing_id);


--
-- Name: ix_trades_seller_id; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_trades_seller_id ON public.trades USING btree (seller_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: carbon
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: carbon
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: ix_users_wallet_address; Type: INDEX; Schema: public; Owner: carbon
--

CREATE UNIQUE INDEX ix_users_wallet_address ON public.users USING btree (wallet_address);


--
-- Name: audit_events audit_events_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: credit_batches credit_batches_issued_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT credit_batches_issued_by_fkey FOREIGN KEY (issued_by) REFERENCES public.users(id);


--
-- Name: credit_batches credit_batches_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.credit_batches
    ADD CONSTRAINT credit_batches_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: holdings holdings_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.credit_batches(id);


--
-- Name: holdings holdings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ledger_entries ledger_entries_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.credit_batches(id);


--
-- Name: ledger_entries ledger_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.ledger_entries
    ADD CONSTRAINT ledger_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: listings listings_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.credit_batches(id);


--
-- Name: listings listings_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: operation_requests operation_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.operation_requests
    ADD CONSTRAINT operation_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: project_documents project_documents_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT project_documents_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_documents project_documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.project_documents
    ADD CONSTRAINT project_documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: projects projects_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: projects projects_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: retirements retirements_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.retirements
    ADD CONSTRAINT retirements_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.credit_batches(id);


--
-- Name: retirements retirements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.retirements
    ADD CONSTRAINT retirements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: trades trades_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.credit_batches(id);


--
-- Name: trades trades_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.users(id);


--
-- Name: trades trades_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id);


--
-- Name: trades trades_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: carbon
--

ALTER TABLE ONLY public.trades
    ADD CONSTRAINT trades_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 1gJo2E8IAdXpBBm8YdqokvgppGfq7MOOaQhIs4j81YnMNK7IB4dRO6UbmUG6nWq

