AVALANCHE_FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
DEPLOYER_PRIVATE_KEY=
CONTRACT_ADMIN_ADDRESS=
BLOCKCHAIN_OPERATOR_ADDRESS=
TEST_USDC_OWNER_ADDRESS=
TEST_USDC_INITIAL_SUPPLY=1000000
ADMIN_TRANSFER_DELAY_SECONDS=172800
ETHERSCAN_API_KEY=
USDC_CONTRACT_ADDRESS=
CARBON_CREDIT_CONTRACT_ADDRESS=